
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-bold{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



header{
   
}

/* nav */

.manu-items-decoratin{
    list-style:none;
    display:flex;
    gap:48px;
}


.nav-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:1140px;
    
    height:71px;
    margin:0 auto;
}

@media screen and (min-width:992px){
     .nav-bar-for-small-devices{
        display:none;
}
}


@media screen and (max-width:576px){
    .nav-bar{
        display:none;
    }
    .nav-bar-for-small-devices{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:460px;
    }
    .nav-logo-for-small-devices{
        width:63px;
        height:38px;
    }
}

/* banner */

.test-fresh-flowers{
    color:#E95A08;
    margin-left:10px;
    
}
.banner-text-h1{
    font-size:64px;
}

.banner{
    display:flex;
    justify-content:center;
    width:1140px;
    margin:0 auto;
  justify-content: space-between;
}

@media screen and (max-width:576px){
 .banner{
    flex-direction:column-reverse;
    
    
     width:100%;

 }
 .banner-img img{

   /* width:350px;
   height:245px;  */
   width:469px;
   height:300px;
 }
 .banner-text-h1 {
    font-size:50px;
    
 }
 .banner-text{
    text-align: left;
 }
}

/* card */
.card-container,.plant-lover{
      width:1140px;
     
    margin:0 auto;
}

/* main{
     width:1140px;
    margin:0 auto;
} */

.card-title-text{
    text-align:center;
}

.card-title-text h3{
    font-size:50px;
    margin-bottom:20px;

}

.our{
    color:#E95A08;
}



.cards{
   
   margin-top:50px;
}

.single-card{
    width:270px;
    height:450px;
   
}

.single-card img{
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.card-bottom-text {
    width:270px;
   
    
    text-align:center;
}
.single-card .card-button{
    background-color:#E95A08;
    border:none;
     width:270px;
    height:40px;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
}

.cards{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap:20px;
    grid-row-gap:30px;
}

@media screen and (min-width:992px){
      .card-title-text .display-none-in-large-device{
        display:none;
      }
   
    }

@media screen and (max-width:576px){
    main{
        width:462px;
    }
    .card-container {
       /* width:100%; */
       width:100%;
        text-align:center;
    }
   .card-title-text .display-none-in-small-device{
        display:none;
      }
   
   .cards{
    
    grid-template-columns:repeat(2, auto);
    grid-column-gap:20px;
    grid-row-gap:30px;
}

.single-card{
    width:220px;
    height:400px;
}
.single-card img{
    width:220px;
    height:200px;
}

.single-card .card-button{
    background-color:#E95A08;
    border:none;
     width:220px;
    height:40px;
    
    
}

.card-bottom-text {
    width:220px;
   
    
    text-align:center;
}


}

/* plant-lover */

.plant-lover-cntainer h3{
    font-size:50px;
}

.plant-lover{
    margin-top:210px;
}

.plant-lover-cntainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



@media screen and (max-width:576px) {

    .plant-lover{
         width:100%;
    
    }
    .plant-lover-cntainer{
        flex-direction:column;
    }
    .plant-lover-cntainer img{

        width:100%;
        
    }
    .plant-lover{
        margin-top:43px;
    }

    .plant-lover-cntainer{
        font-size:24px;
        text-align:left;
    }
}

/* join-section */

.join-section{
      
       margin-top:100px;
       height:533px;
       background-image:url("../B12A02-Responsive-Flowers/assets/news-letter-bg.png");
}
.joni-section-input-and-button{
    display:flex;
    
    justify-content:center;
    width:850px;
    height:55px;

}

.join-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.join-section h3{
    margin-top:0;
    font-size:50px;
    color:white;
}

.joni-section-input-and-button input{
    height:50px;
    width:644px;
    border:none;
}
.joni-section-input-and-button button{
    height:50px;
    width:186px;
    background-color: #E95A08;
    border:none;
}

@media screen and (max-width:576px) {
    .join-section{
          width:100%;
         background-size:cover;
         background-repeat: no-repeat;
         
  
    }

    .joni-section-input-and-button{
   
    width:321px;
    height:50px;

}

.joni-section-input-and-button input{
    height:50px;
    width:218px;
    border:none;
}
.joni-section-input-and-button button{
    height:50px;
    width:103px;
    background-color: #E95A08;
    border:none;
}
.join-section h3{
   
    font-size:20px;
   
}

}


/* footer */

.home-feature ul{

    list-style: none;

}



.home-feature ul{

   display:grid;
   grid-template-columns:repeat(2,200px);
   column-gap:20px;
   row-gap:32px;

}

footer{
    display:flex;
    justify-content:space-around;
    margin-top:100px;
}

.social-media-logo img{
    margin-left:20px;
}



@media screen and (max-width:576px) {

    footer{
    flex-direction:column;
    text-align:left;
    
}
.home-feature ul{

  
   grid-template-columns:repeat(1,auto);
     

}

.social-media-logo{
    margin-top:40px;
}
.left-right-links-home-feature{
    margin-top:30px;
}
.left-right-links-home-feature ul{
    padding-left: 0;
}

.social-media-logo .linkdein-logo{
    margin-left:0;

}

.footer-dislplay-for-large-device{
    display:none;
}
.for-small-device-footer{
    display:block;
}

}


/* Latest-Deals */
.latest-deals{
    width:1140px;
    margin:0 auto;
}
.latest-deals-text-content h3{
    font-size:50px;
    margin-bottom:0;
}

.text-latest{
    color:#E95A08;
}

.latest-deals-text-content{
    text-align:center;
}

.plant{
    display:flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.zobo-plant-all{
    height:423px;
    width:753px;
    border-radius:22px;
    background-image:url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
    background-repeat:none;
    background-size: cover;
}

.Bloom-plant{
    width:373px;
    height:201px;
    background-image:url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
     
     background-size: cover;
      background-repeat:no-repeat;
     border-radius:14px;
}

.ana-plant{
    width:373px;
    height:197px;
    background-image:url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
    
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:14px;

}

.Bloom-plant h6{
    margin-top:0;
}

.zobo-plant-all{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Zobo-plant h6{
    color:#FFFFFF;
    font-size:40px;
     margin:0;

}

.Zobo-plant p{
    color:#FFFFFF;
    

}

.Bloom-plant h6{
    color:#FFFFFF;
    font-size:20px;
    margin:0;

}

.Bloom-plant p{
    color:#FFFFFF;
    

}
.ana-plant h6{
    color:#FFFFFF;
    font-size:20px;
    margin:0;

}

.ana-plant p{
    color:#FFFFFF;
    

}

.ana-plant{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Bloom-plant{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloom-ana-plant{
    display:flex;
    flex-direction: column;
    gap:25px;
}
@media screen and (min-width:992px){
    .latest-deals-for-small-device{
        display:none;

    }
}
@media screen and (max-width:576px){
    .latest-deals{
        display:none;

    }
    .text-latest-for-small-device{
    color:#E95A08;
}
.text-latest-for-small-device h3{
    font-size:24px;
   
}

.latest-deals-for-small-device{
    text-align:center;

}

.Zobo-plant-small-device h6{
    color:#FFFFFF;
    font-size:20px;
     margin:0;
    
    }

.Zobo-plant-small-device p{
    color:#FFFFFF;
}
.Bloom-plant-small-device h6{
    color:#FFFFFF;
    font-size:20px;
     margin:0;
    
    }

.Bloom-plant-small-device p{
    color:#FFFFFF;
}
.ana-plant-small-device h6{
    color:#FFFFFF;
    font-size:20px;
     margin:0;
    
    }

.ana-plant-small-device p{
    color:#FFFFFF;
}

.Bloom-plant-small-device{
      width:100%;
      height:184px;
      background-image:url(../B12A02-Responsive-Flowers/assets/deal-bloom.png);
      background-size: cover;
       display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ana-plant-small-device{
      width:100%;
      height:184px;
      background-image:url(../B12A02-Responsive-Flowers/assets/deal-ana.png);
      background-size: cover;
      margin-top:20px;
       display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Zobo-plant-small-device{
      width:100%;
      height:184px;
      background-image:url(../B12A02-Responsive-Flowers/assets/deal-zabo.png);
      background-size: cover;
      margin-top:20px;
       display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


}